{
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier"],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint"
  ],
  "rules": {
    "@typescript-eslint/no-var-requires": "off"
  }
}